/* ======== common css style start ========= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6.p{
    line-height: 0.8px;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
/* ======== common css style start ========= */

/* =========== navbar css style start ========== */
#navbar{
    padding-top: 40px;
}
.navbarHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLogo img{
    width: 210px;
    height: 40px;
}
.navbarMenu{
    display: flex;
    gap: 110px;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 80px;
}
.menu ul li a{
    color: #747582;
    font-weight: 400;
    font-size: 18px;
}
.navbarbtn button{
    padding: 15px 25px;
    border: 1px solid #FF698D;
    color: #282C4B;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border-radius: 25px;
    transition: all linear 0.50s;
}
.navbarbtn button:hover{
    background-color: #FF698D;
    border:1px solid transparent;
    color: white;
}
/* =========== navbar css style end ========== */

/* =========== banner css style start ========== */
#banner{
     padding-bottom: 90px;
    position: relative;
    background-color: white;
}
.bannerFlex{
    display: flex;
}
#banner::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 13%, 0% 100%, 100% 100%);
    background-color: rgba(255, 100, 136, 0.03);
    z-index: 2;
}
#banner::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    clip-path: polygon(0 59%, 0% 100%, 100% 100%);
    background-color: rgba(255, 100, 136, 0.04);
    z-index: 1;
}
.fastLine{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}
.fastLine img{
    width: 30px;
    height: 30px;
}
.bannerContent{
    padding-top: 150px;
}
.bannerContent .fastLine p{
    color: #F17216;
    font-size: 22px;
    font-weight: 400;
    width: 600px;

}
.bannerContent h1{
    font-size: 64px;
    font-weight: bold;
    line-height: 90px;
    color: #282C4B;
    width: 650px;
    padding-bottom: 30px;
}
.bannerContent p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #747582;
    width: 600px;
}
.bannerBtn{
    display: flex;
    gap: 30px;
    z-index: 8;
}
.bannerBtn button{
    margin-top: 50px;
    padding: 15px 25px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom right,#FF698D, #FB3F6C);
    
    font-weight: bold;
    font-size: 18px;
   
    border-radius: 25px;
    transition: all linear 0.50s;
    z-index: 10;
}
.bannerBtn button:hover{
    color: #282C4B;
    background-image: none;
    background-color: white;
}
.bannerImg{
    position: relative;
}
.bannerImg img{
    height: 700px;
    width: 700px;
}
.imgBox{
    position: absolute;
    content: "";
    bottom: -20px;
    right: 5px;
    width: 300px;
    height: 150px;
    background-color: #FFFFFF;
    padding: 25px;
    z-index: 4;
}
.imgBoxFlex{
    display: flex;
    gap: 25px;
    align-items: center;
}
.imgBoxFlex h4{
    font-weight: bold;
    font-size: 36px;
}
.inconFlex{
    display: flex;
    gap: 10px;
}
.inconFlex i{
    color: #FF876C;
}
.imgBoxTwo{
    margin-top: 30px;
    width: 220px;
    height: 60px;
    position: relative;
   
}
.circleBox1 img{
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;


}
.circleBox2 img{
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 2;
}
.circleBox3 img{
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: 3;
}
.circleBox4 img{
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 120px;
    z-index: 4;
}
.circleBox5 img{
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 160px;
    z-index: 5;
}
.snck{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    bottom: 200px;
    right: 55px;

}
.snck img{
    height: 150px;
    width: 200px;
}
.snck2{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    top: 170px;
    left: 50px;

}
.snck2 img{
    height: 100px;
    width: 150px;
}
/* =========== banner css style end ========== */

/* =========== logo css style start ========== */
#logo{
    margin-top: 50px;
    margin-bottom: 100px;
}
.logoFlex{
    display: flex;
    justify-content: space-between;
}
.boxOne{
    width: 250px;
    height: 100px;
    overflow: hidden;
}

.boxOne img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========== logo css style end ========== */

/* =========== service css style start ========== */
#service{
    padding-bottom: 100px;
    position: relative;
}
.serviceImg{
    position: absolute;
    left: 500px;
    bottom: 20px;
}
.serviceImg img{
    width: 120px;
    height: 120px;
}
.serviceWrapper{
    display: flex;
    justify-content: space-between;
}
.serviceLeft h5{
    font-size: 16px;
    color: #F17216;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 15px;
}
.serviceLeft h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 25px;
    color: #282C4B;
    width: 300px;
}
.serviceLeft p{
    font-size: 18px;
    color: #747582;
    font-weight: 400;
    line-height: 27px;
    width: 300px;
}
.serviceRight{
    display: flex;
    gap: 90px;
}
.forcest{
    padding: 30px;
    transition: all linear 0.40s;
}
.forcest:hover{
    box-shadow: 30px 30px 33px 30px rgba(121, 121, 121, 0.05);
}
.forcest img{
    width: 40px;
    height: 45px;
    padding-bottom: 10px;
}
.forcest h4{
    font-size: 20px;
    font-weight: 500;
    color: #14183E;
    padding-top: 20px;
    padding-bottom: 25px;
}
.forcest p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #747582;
    width: 170px;
}
.raising{
    padding: 30px;
    transition: all linear 0.40s;
}
.raising:hover{
    box-shadow: 30px 30px 33px 30px rgba(121, 121, 121, 0.05);
}
.raising img{
    width: 40px;
    height: 45px;
    padding-bottom: 10px;
}
.raising h4{
    font-size: 20px;
    font-weight: 500;
    color: #14183E;
    padding-top: 20px;
    padding-bottom: 25px;
}
.raising p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #747582;
    width: 170px;
}
.cashFlow{
    padding: 30px;
    transition: all linear 0.40s;
}
.cashFlow:hover{
    box-shadow: 30px 30px 33px 30px rgba(121, 121, 121, 0.05);
}
.cashFlow img{
    width: 40px;
    height: 45px;
    padding-bottom: 10px;
}
.cashFlow h4{
    font-size: 20px;
    font-weight: 500;
    color: #14183E;
   padding-top: 20px;
    padding-bottom: 25px;
}
.cashFlow p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #747582;
    width: 170px;
}
/* =========== service css style end ========== */

/* =========== bannerTwo css style start ========== */
#bannerTwo{
    margin-top: 50px;
    background-color: #1c1450;
    padding-left: 100px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 100px;
    z-index: 1;
}
#bannerTwo::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 13%, 0% 100%, 100% 100%);
    background-color: rgba(218, 201, 205, 0.03);
    z-index: 2;
}
#bannerTwo::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    clip-path: polygon(0 59%, 0% 100%, 100% 100%);
    background-color: rgba(241, 202, 211, 0.04);
    z-index: 3;
}
.bannerTwoFlex{
    display: flex;
    gap: 120px;
    align-items: center;
}
.bannerTwoImg{
    position: relative;
}
.bannerTwoImg img{
    width: 710px;
    height: 600px;
    
}
.snck3{
    position: absolute;
    content: "";
    right: 80px;
    top: 100px;
    width: 120px;
    height: 150px;
    overflow: hidden;
}
.snck3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bannerTwoRight span{
    font-size: 24px;
    font-weight: 400;
    color: #F17216;
}
.bannerTwoRight h3 {
    font-size: 42px;
    font-weight: bold;
    line-height: 52px;
    color: white;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.bannerTwoRight p{
    font-size: 26px;
    line-height: 27px;
    font-weight: 400;
    color: #CED1E5;
    margin-top: 20px;
}
.bannerTwoRight p i{
    padding-right: 40px;
    color: #CED1E5;
}
.bannerBtn2{
    display: flex;
    gap: 30px;
   
}
.bannerBtn2 button{
    margin-top: 50px;
    padding: 15px 25px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom right,#FF698D, #FB3F6C);
     z-index: 10;
    border: 1px solid white;
    font-weight: bold;
    font-size: 18px;
   
    border-radius: 25px;
    transition: all linear 0.50s;
}
.bannerBtn2 button:hover{
    color: #282C4B;
    background-image: none;
    background-color: white;
}
/* =========== bannerTwo css style end ========== */

/* =========== marketing css style start ========== */
#marketing{
    padding-bottom: 50px;
}
.marketingFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}
.marketingBox{
    width: 32%;
    padding: 15px 15px 20px 15px ;
    text-align: center;
    transition: all linear 0.50s;

}
.marketingBox:hover{
    box-shadow: 18px 10px 33px 0 rgba(123, 67, 67, 0.1);
}
.marketingImg img{
    width: 100%;
    height: 80%;
}
.marketingImg h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    color: #14183E;
}
.marketingBox2{
    width: 32%;
    padding: 25px 15px 20px 15px ;
}
.marketingBox2 p{
    font-size: 18px;
    font-weight: 400;
    color: #F17216;
    padding-bottom: 25px;
}
.marketingBox2 h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    width: 300px;
    color: #282C4B;
    padding-bottom: 35px;
}
.marketingBox2 button{
    /* margin-top: 50px; */
    padding: 15px 25px;
    border: none;
    color: #282C4B;
    background-color: white;
    border: 1px solid #FF698D;
    font-weight: bold;
    font-size: 18px;
   
    border-radius: 25px;
    transition: all linear 0.50s;
}
.marketingBox2 button:hover{
    color: white;
    background-color: #FF698D;
}
/* =========== marketing css style end ========== */

/* =========== testimonial css style start ========== */
#testimonial{
    padding-top: 50px;
    background-image: linear-gradient(to bottom right, rgba(243, 232, 234, 0.3), rgba(250, 248, 249, 0.514));
}
.testimonialContent p{
    font-size: 16px;
    font-weight: 400;
    color: #F17216;
    padding-bottom: 12px;
}
.testimonialContent h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #282C4B;
    width: 270px;
}
.testimonialImg{
    margin-top: 69px;
    position: relative;
}
.ImgContent{
    width: 534px;
    height: 327px;
    position: absolute;
    top: -72px;
    right: -86px;
    background-color: white;
    padding: 30px 32px;
}
.ImgContent i{
    color: #FB3F6C;
    font-size: 40px;
}
.ImgContent p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #5D6473;
    padding-top: 20px;
    padding-bottom: 30px;
}
.ImgContentFlex{
    display: flex;
    gap: 18px;
    align-items: center;
}
.circleImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.ImgContentFlex h4{
    font-weight: bold;
    font-size: 22px;
}
/* =========== testimonial css style end ========== */

/* =========== contact css style start ========== */
#contact{
    padding-top: 50px;
    padding-bottom: 80px;
}
.contactFlex{
    display: flex;
    gap: 57px;
}
.contactImg {
    position: relative;
}
.contactBox1{
    position: absolute;
    bottom: 35px;
    right: 95px;
}
.contactBox2{
    position: absolute;
    left: 0;
    top: 85px;
}
.contactText h5{
    font-weight: 400;
    font-size: 16px;
    color: #F17216;
    padding-bottom: 12px;
}
.contactText h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #282C4B;
    padding-bottom: 40px;
}
.textOne h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 11px;
    color: #14183E;
}
.textOne input{
    width: 539px;
    height: 58px;
    background-color: #FFF8F8;
    padding: 15px 0 15px 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #14183E;
    border: none;
}
.textOne input:focus{
    border: none;
    outline: none;
}
.textOneFlex{
    display: flex;
    gap: 25px;
    margin-top: 30px;
}
.textTwo h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 11px;
    color: #14183E;
}
.textTwo input{
    width: 257px;
    height: 58px;
    background-color: #FFF8F8;
    padding: 15px 0 15px 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #14183E;
    border: none;
}
.textTwo input:focus{
    border: none;
    outline: none;
}
.textThree h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 11px;
    color: #14183E;
}
.textThree input{
    width: 257px;
    height: 58px;
    background-color: #FFF8F8;
    padding: 15px 0 15px 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #14183E;
    border: none;
}
.textThree input:focus{
    border: none;
    outline: none;
}
.textFour h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 11px;
    color: #14183E;
    padding-top: 30px;
}
.textFour textarea{
    width: 539px;
    height: 116px;
    background-color: #FFF8F8;
    padding: 15px 0 15px 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #14183E;
    border: none;
    resize:none;
}
.textFour textarea:focus{
    border: none;
    outline: none;
}
.contactTextBtn button{
    margin-top: 60px;
    padding: 24px 42px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom right,#FF698D, #FB3F6C);
     z-index: 10;
    font-weight: bold;
    font-size: 18px;
    border-radius: 192px;
    transition: all linear 0.50s;
}
.contactTextBtn button:hover{
    color: #282C4B;
    background-image: none;
    background-color: white;
    border: transparent;
}
/* =========== contact css style end ========== */

/* =========== footer css style start ========== */
#footer{
    background-color: #282C4B;
    padding: 62px 0;
    margin-bottom: 100px;
}
.footerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerContent{
    display: flex;
    align-items: center;
}
.footerContentOne p{
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-right: 73px;
}
.footerContentOne p span{
    font-size: 20px;
    padding-right: 5px;
}
.footerContentTwo ul{
    display: flex;
    gap: 30px;
    padding-right: 47px;
}
.footerContentTwo ul li a{
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.footerContentThree{
    display: flex;
    align-items: center;
    gap: 16px;
}
.footerContentThree p{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.ContentThreeFlex{
    display: flex;
    gap: 16px;
    align-items: center;
}
.wrapBox{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapBox i{
    color: #FB3F6C;
}
/* =========== footer css style end ========== */

/* =========== navbar css style start ========== */
/* =========== navbar css style end ========== */